body {    
    background-color: #8bc99c;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    overflow: hidden;
    width: 100%;
    margin:0;
    padding:0;
    height: 100%;    
  }
  
  h1 {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
  }
  h2 {
    color: white;
    text-align: center;
    font-weight: 200; 
    padding: 14px 16px;

  }
  p{
    color: white;
    line-height: 200%;
    text-align: center;

  }
  
  #header {
    
    /*background-color: #5d916b;*/
    background-image: 
    /* top, transparent red*/
    linear-gradient(
      rgba(93, 145, 107, 0.7), 
      rgba(93, 145, 107, 1)
    ),
    /* bottom, image */
    url('../resources/Otree2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 100%;
    margin:0;
    background-color: #5d916b;
    padding:0;
    height: 100px;
  }
  #main {
    /* Provide scrollbars if needed, position below header, and derive height from top/bottom background-color:#8bc99c;*/
    overflow: auto;
    position: absolute;
    width: 100%;
    top: 180px;
    bottom: 0;
    bottom: 110px;
    text-align: center;
}
#footer {
  /*background-color: #5d916b;*/
  overflow: auto;
  position: absolute;
  color: white;
  background-image: 
    /* top, transparent red*/
    linear-gradient(
      rgba(93, 145, 107, 1), 
      rgba(93, 145, 107, 0.8)
    ),
    /* bottom, image */
    url('../resources/Otree2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  background-color: #5d916b;
  width: 100%;
  bottom: 0;
  height: 100px;
  text-align: center;
}
.wrap{
  display: inline;;
  justify-content: flex-start;
  vertical-align: text-top;
}
.form{
  /*background-color:rgba(93, 145, 107, 0.6);*/
  display: inline-block; 
  vertical-align: text-top;
}


.tabs{
  width: 100%;
  top: 100px;
  background-color: #5d916b;
  position: absolute;
  padding:0;
}
.para {
  color: white;
  width: 70%;
  margin: auto;
  border: 3px solid #4c7356;
  padding: 10px;
  text-align: left;
  line-height: 150%;
}


.tab {
  overflow: hidden;
  border: none;
  padding: 14px 16px;
  outline: none;
  background-color:#5d916b;
  font-size: 18px;
  font-weight: 200;
  bottom: 0;
  color: white;
  float: left;  
}
.Stab {
  overflow: hidden;
  border: none;
  padding: 14px 16px;
  outline: none;
  background-color: #8bc99c;
  font-size: 18px;
  font-weight: 200;
  bottom: 0;
  color: white;
  float: left; 
}

::placeholder{
  color:  #4c7356;
  opacity: 0.5;
}
.flashes {
  color: white;
  text-align: center;
}


.form-button:hover {
  background-color: #314a38;
}
.form-style-username{
  background-color: white;
  border: none;
  outline: none;
  color:  #4c7356;
  cursor: text;
  padding: 5px 5px;
  border-radius: 18px;
  transition: 0.3s;
  font-size: 18px;
  width: fit-content;
}

.form-drop-down {
  background-color: white;
  border: none;
  color: #4c7356;
  font-weight: 100;  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 5px 5px;
  font-size: 18px;
  border-radius: 12px;
}
.label{
  color: white;
  font-weight: 100;
  font-size: 20px;
  padding: 5px 5px;
  line-height: 200%;
}
.user{
  float: right;
  padding: 5px 15px;
  background-color: #5d916b;
  color: white;
  text-decoration: none;
}
.user:hover{
  color: #314a38;
}

.form-button{
  background-color:  #4c7356;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: 900; 
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  border-radius: 12px;
  margin: 5px;
}
/* Create an active/current tablink class */
.tab:hover {
  background-color: #4c7356;
}

.links{
  color: white;
}
.links:hover{
  color: #314a38;
}


