{% extends "base.html" %}
{% block content %}
<html lang="en">
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
<head>
  <meta charset="utf-8">

  <title>Carbon Footprint Calculator</title>
  <meta name="description" content="homepage">
  <meta name="Genevieve" content="Reverse Geocoding">

  <link rel="stylesheet" href="static/css/home.css"/>

</head>

<body>
    <div id = 'main'>
      <h2>Our Mission</h2>
      <div class="para">
      <p>We want to help college students everywhere understand how their choices impact the environment so they can be more carbon conscious. The electricity and carbon estimations based on certain activities were based on the following sources:</p>
       <ul>
          <li> <a class="links" href="https://reason.org/commentary/does-bus-transit-reduce-greenhouse/">Bus Transit Reduce Greenhouse Gas Emissions?</a></li>
          <li> <a class="links" href="https://www.thredup.com/fashionfootprint">Fashion Footprint Calculator.</a></li>
          <li> <a class="links" href="https://www.eia.gov/tools/faqs/faq.php?id=74">Energy Information Administration (EIA).</a></li>
          <li> <a class="links" href="https://evtool.ucsusa.org/">How Clean is Your Electric Vehicle?</a></li>
          <li> <a class="links" href="https://www.electricchoice.com/blog/electricity-on-average-do-homes/">Much Electricity on Average Do Homes in Your State Use?</a></li>
          <li> <a class="links" href="https://ensia.com/features/environmental-cost-online-shopping-delivery/">store or online - what's the environmentally friendliest way to shop?</a></li>
          <li> <a class="links" href="http://shrinkthatfootprint.com/food-carbon-footprint-diet">carbon foodprint of 5 diets compared.</a></li>
       </ul>
      </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}
  </div>
</body>
</html>
{% endblock %}
