{% extends "base.html" %}
{% block content %}
<html lang="en">
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
<head>
  <meta charset="utf-8">

  <title>Carbon Footprint Calculator</title>
  <meta name="description" content="homepage">
  <meta name="Genevieve" content="Reverse Geocoding">

  <link rel="stylesheet" href="static/css/home.css"/>

</head>

<body>
    <div id = 'main'>
      <h2>Our Mission</h2>
      <p class="para">We want to help college students every understand how thier choices impact the environment so they can be more carbon counscious.

       The electricity and carbon estimations based on certain activities were based on the following sources:
       Does Bus Transit Reduce Greenhouse Gas Emissions? https://reason.org/commentary/does-bus-transit-reduce-greenhouse/
       Fashion Footprint Calculator.  https://www.thredup.com/fashionfootprint
       U.S. Energy Information Administration (EIA). https://www.eia.gov/tools/faqs/faq.php?id=74
       How Clean is Your Electric Vehicle? https://evtool.ucsusa.org/
       How Much Electricity on Average Do Homes in Your State Use? https://www.electricchoice.com/blog/electricity-on-average-do-homes/fRetrieved November 08, 2020, from https://ensia.com/features/environmental-cost-online-shopping-delivery/
       The carbon foodprint of 5 diets compared. http://shrinkthatfootprint.com/food-carbon-footprint-diet</p>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}
  </div>
</body>
</html>
{% endblock %}
