{% extends "base.html" %}
{% block content %}
<html lang="en">
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
<head>
  <meta charset="utf-8">
    
  <title>Carbon Footprint Calculator</title>
  <meta name="description" content="homepage">
  <meta name="Genevieve" content="Reverse Geocoding">

  <link rel="stylesheet" href="static/css/home.css"/>

</head>

<body>     
    <div id = 'main'> 
      <h2>Our Mission</h2>
      <p>We want to help college students every where!</p>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}
  </div>
</body>
</html>
{% endblock %}