{% extends "base.html" %}
{% block content %}
<html lang="en">
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
<head>
  <meta charset="utf-8">
    
  <title>Track Daily Footprint</title>
  <meta name="description" content="homepage">
  <meta name="Genevieve" content="Reverse Geocoding">

  <link rel="stylesheet" href="static/css/home.css"/>

</head>

<body>     
    <div id = 'main'> 
      <h2>Tracker</h2> 
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="label">{{ form.food.label }}<br>
        {{ form.food(class_="form-drop-down") }}</p>
        <p class="label">{{ form.travel_method.label }}<br>
        {{ form.travel_method(class_="form-drop-down") }}</p>
        <p class="label">{{ form.distance.label }}<br>
        {{ form.distance(class_="form-style-username",placeholder="distance in miles") }}</p>
        {% for error in form.distance.errors %}
            <span style="color: white;">{{ error }}</span>
        {% endfor %}
        <p class="label">{{ form.housing.label }}<br>
        {{ form.housing(class_="form-drop-down") }}</p>
        <p class="label">{{ form.numRooms.label }}<br>
        {{ form.numRooms(class_="form-style-username",placeholder="enter number of rooms") }}</p>
        {% for error in form.numRooms.errors %}
            <span style="color: white;">{{ error }}</span>
        {% endfor %}
        <p class="label">{{ form.numRoomates.label }}<br>
        {{ form.numRoomates(class_="form-style-username",placeholder="enter number of roomates") }}</p>
        {% for error in form.numRoomates.errors %}
            <span style="color: white;">{{ error }}</span>
        {% endfor %}
        <p class="label">{{ form.numPackages.label }}<br>
        {{ form.numPackages(class_="form-style-username",size=30,placeholder="Packages ordered per month") }}<br>        
        {{ form.fast_delivery(class_="form-bool") }} {{ form.fast_delivery.label }}
          {% for error in form.numPackages.errors %}
            <span style="color: white;">{{ error }}</span>
        {% endfor %}
        </p>
        <p class="label">{{ form.used_clothing.label }}<br>
        {{ form.used_clothing(class_="form-style-username",placeholder="% wardrobe bought used") }}</p>
        {% for error in form.used_clothing.errors %}
            <span style="color: white;">{{ error }}</span>
        {% endfor %}
        <p class="label">{{ form.clothing_purchased.label }}<br>
        {{ form.clothing_purchased(class_="form-style-username",size=30,placeholder="clothing items bought per month") }}</p>
        {% for error in form.clothing_purchased.errors %}
            <span style="color: white;">{{ error }}</span>
        {% endfor %}
        <p>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
            </ul>
            {% endif %}
          {% endwith %}
          {% block body %}{% endblock %}
        </p>
        <p class="label">{{ form.track_submit(class_="form-button") }}</p>      
        <p class="label">{{ form.delete(class_="form-button") }}</p>
      </form>
      
  </div>
</body>
</html>
{% endblock %}