{% extends "base.html" %}
{% block content %}
<html lang="en">
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
<head>
  <meta charset="utf-8">
    
  <title>Carbon Footprint Calculator</title>
  <meta name="description" content="homepage">
  <meta name="Genevieve" content="Reverse Geocoding">

  <link rel="stylesheet" href="static/css/home.css"/>

</head>

<body>     
    <div align="center"> 
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.food.label }}<br>
        {{ form.food() }}</p>
        <p>{{ form.travel_method.label }}<br>
        {{ form.travel_method() }}</p>
        <p>{{ form.distance.label }}<br>
        {{ form.distance() }}</p>
        <p>{{ form.housing.label }}<br>
        {{ form.housing() }}</p>
        <p>{{ form.numRooms.label }}<br>
        {{ form.numRooms() }}</p>
        <p>{{ form.numRoomates.label }}<br>
        {{ form.numRoomates() }}</p>
        <p>{{ form.submit() }}</p>
        <p>{{ form.delet() }}</p>
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}
  </div>
</body>
</html>
{% endblock %}