<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
<html>
    <!--<head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog</title>
        {% endif %}
    </head>-->
    <body>        
        <div id="header">
            <h1>Carbon Footprint Tracker</h1>             
        </div>
        <div class="tabs">
        <p>
        <form method="get" action="/about">
            <button id ='about' class='tab' type="submit">About</button>
        </form>
        <form method="get" action="/account">
            <button id='account' class='tab' type="submit">My Stats</button>
        </form>
        <form method="get" action="/">
            <button id='home' class='tab' type="submit">Carbon Calculator</button>
        </form>
        <script>
            var page = window.location.href.split("?")[0].split("/")
            if (page[page.length-1] == "account") {
                document.getElementById('account').className = "Stab"
            } else if(page[page.length-1] == "about") {
                document.getElementById('about').className = "Stab"
            } else if(page[page.length-1] == ""){
                document.getElementById('home').className = "Stab"
            }
          </script>
        <a class="user" href="{{ url_for('logout') }}">  {{ loggedIn }}
            <img src="static/resources/PinClipart.png" alt="github" width="25" height="25">
        </a></p>
        </div>          
        {% block content %}{% endblock %}
        <div id=footer>
            <p>by Genevieve and Jacob</p>
            <p>
                <a class="logo" href="https://github.com/GenevieveDorrell/Carbon-FootPrint-Calucaltor" target="_blank"> 
                    <img src="static/resources/GitHub-Mark/PNG/GitHub-Mark-Light-120px-plus.png" alt="github" width="30" height="30">
                </a>
            </p>
        </div>
    </body>
<html>