<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
<html>
    <!--<head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog</title>
        {% endif %}
    </head>-->
    <body>        
        <div id="header">
            <h1>Carbon Footprint Tracker</h1>
            <!--<script>
                var page = window.location.href.split("?")[0].split("/")
                var title 
                var link
                if (page[page.length-1] == "login") {
                    title = "Register as new User"
                    link = "{{ url_for('register') }}"
                } else if(page[page.length-1] == "register") {
                    title = "Login"
                    link = "{{ url_for('login') }}"
                } else {
                    title = "Logout"
                    link = "{{ url_for('logout') }}"
                }
                var a = document.createElement('a');
                var linkText = document.createTextNode(title);
                a.appendChild(linkText);
                a.title = title;
                a.href = link;
                document.getElementById("header").appendChild(a);
              </script>-->  
        </div>
        <div class="tabs">
        <p>
        <form method="get" action="/about">
            <button class='tab' type="submit">About</button>
        </form>
        <form method="get" action="/account">
            <button class='tab' type="submit">My stats</button>
        </form>
        <form method="get" action="/">
            <button class='tab' type="submit">Carbon Calculator</button>
        </form></p>
        </div>          
        {% block content %}{% endblock %}
        <div id=footer>
            <p>by Genevieve and Jacob</p>
            <p>
                <a class="logo" href="https://github.com/GenevieveDorrell/Carbon-FootPrint-Calucaltor" target="_blank">
                    <img src="static\resources\GitHub-Mark\PNG\GitHub-Mark-Light-64px.png" alt="github" width="30" height="30">
                </a>
            </p>
        </div>
    </body>
<html>