{% extends "base.html" %}
{% block content %}
<html lang="en">
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
<head>
  <meta charset="utf-8">
    
  <title>Carbon Footprint Calculator</title>
  <meta name="description" content="homepage">
  <meta name="Genevieve" content="Reverse Geocoding">

  <link rel="stylesheet" href="static/css/home.css"/>

</head>

<body>     
    <div id = 'main'> 
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="label">{{ form.food.label }}<br>
        {{ form.food(class_="form-drop-down") }}</p>
        <p class="label">{{ form.travel_method.label }}<br>
        {{ form.travel_method(class_="form-drop-down") }}</p>
        <p class="label">{{ form.distance.label }}<br>
        {{ form.distance(class_="form-style-username",placeholder="distance in miles") }}</p>
        <p class="label">{{ form.housing.label }}<br>
        {{ form.housing(class_="form-drop-down") }}</p>
        <p class="label">{{ form.numRooms.label }}<br>
        {{ form.numRooms(class_="form-style-username",placeholder="enter number of rooms") }}</p>
        <p class="label">{{ form.numRoomates.label }}<br>
        {{ form.numRoomates(class_="form-style-username",placeholder="enter number of roomates") }}</p>
        <p class="label">{{ form.submit(class_="form-button") }}</p>
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}
  </div>
</body>
</html>
{% endblock %}