{% extends "base.html" %}
{% block content %}
<!-- Our own style sheet -->
<link rel="stylesheet" href="/static/css/home.css" />
<div id = 'main'>
    <h2>enter a username and password</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username(size=32, class_="form-style-username",placeholder="Username") }}<br>
            {% for error in form.username.errors %}
            <span style="color: white;">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.password_set(size=32, class_="form-style-username",placeholder="Password") }}<br>
            {% for error in form.password_set.errors %}
            <span style="color: white;">{{ error }}</span>
            {% endfor %}
        <br>
            {{ form.confirm(size=32, class_="form-style-username",placeholder="Reenter password") }}<br>
            {% for error in form.confirm.errors %}
            <span style="color: white;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
          </ul>
          {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
        </p>
        <p>{{ form.register(class_="form-button") }}</p>
    </form>
</div>
{% endblock %}
